@import "compass/css3";

md-content #heros .text {
	text-align: center;
	font-size: 20px;
}

.enemy-text {
	color: $enemy-red;
    font-weight: bold;
}

.firendly-text {
	color: $firendly-green;
    font-weight: bold;
}

.hero-info {
	overflow: hidden;
	@include display-flex;
	img {
		width: 100%;
		margin: 4px;
		@include box-shadow(rgba($enemy-red, 0.9) 0 0 4px);
	}
}

.teammate-hero {
	img {
		@include box-shadow(rgba($firendly-green, 0.9) 0 0 4px);
	}
}

.suggested #title-text {
	text-align: center;
	font-size: 35px;
}

#suggested-heros {
	margin-top: 10px;
	.suggested-hero img{
		@include box-shadow(rgba(black, 0.8) 0 0 4px);
	}
}

#dialog-content md-tab-content {
    overflow: hidden;
}

#dialog-content {
    overflow:hidden;
}

#main-content {
    background-color: rgba(white, 0);
}

#left-side {
    md-list {
        z-index: 100;
    }
    img {
        width: 100%;
        position: absolute;
        bottom: 30px;
    }
}
