@import "compass/css3";

md-dialog {
    height: 90%;
    width: 90%;
    #close-icon {
        display: inline-block;
    }
    #toolbar {
        padding: 0 5px 0 5px;
        h3 {
            margin: 5px 0 5px 0;
        }
    }
}

#dialog-heros {
    md-pagination-wrapper {
        width: 100%;
        @include display-flex;
        @include justify-content(center);
    }
    md-tabs-wrapper {
        background-color: #2C80D2;
    }
    md-ink-bar {
        height: 3px;
    }
}

#dialog-content {
    @include display-flex;
    @include flex-direction(column);
    height: 100%;
    md-tabs {
        @include flex(1);
    }
}
