@import "compass/css3";

@mixin linear-gradient($angel, $color1, $color2) {
    background: -webkit-linear-gradient($angel, $color1, $color2);
    background: -o-linear-gradient($angel, $color1, $color2);
    background: -moz-linear-gradient($angel, $color1, $color2);
    background: linear-gradient($angel, $color1, $color2);
}

md-dialog {
    height: 90%;
    width: 90%;
    z-index: 100001;
    margin-top: 15px;
    #close-icon {
        display: inline-block;
    }
    #toolbar {
        padding: 0 5px 0 5px;
        h3 {
            margin: 5px 0px 5px 10px;
        }
        background-image: url('../image/tollbar.jpg');
        background-size: 100% 100%;
        @include box-shadow(rgba(black, 0.9) 0 0 6px);
    }
    @media(min-width:960px) {
        width: 45%;
    }
}

#dialog-heros {
    md-pagination-wrapper {
        width: 100%;
        @include display-flex;
        @include justify-content(center);
    }
    md-tabs-wrapper {
        background-color: rgba(white, 0 );
    }
    md-ink-bar {
        height: 3px;
        background: #B3520B none repeat scroll 0% 0%;
    }
    @include linear-gradient(300deg,#000,#47100F);
}


#dialog-content {
    @include display-flex;
    @include flex-direction(column);
    height: 100%;
    md-tabs {
        @include flex(1);
    }
}
