body {
  overflow: hidden;
}

md-sidenav {
  height: 100%;
}

.header .logo {
  font-size: 30px;
}
@media (min-width: 960px) {
  .header {
    justify-content: center;
  }
}

md-content #heros {
  margin-top: 30px;
}

md-content #heros .text {
  text-align: center;
  font-size: 20px;
}

.enemy-text {
  color: #ff6666;
}

.firendly-text {
  color: #259656;
}

.hero-info {
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
}
.hero-info img {
  width: 100%;
  margin: 4px;
  -moz-box-shadow: rgba(255, 102, 102, 0.9) 0 0 4px;
  -webkit-box-shadow: rgba(255, 102, 102, 0.9) 0 0 4px;
  box-shadow: rgba(255, 102, 102, 0.9) 0 0 4px;
}

.teammate-hero img {
  -moz-box-shadow: rgba(37, 150, 86, 0.9) 0 0 4px;
  -webkit-box-shadow: rgba(37, 150, 86, 0.9) 0 0 4px;
  box-shadow: rgba(37, 150, 86, 0.9) 0 0 4px;
}

.suggested #title-text {
  text-align: center;
  font-size: 35px;
}

#suggested-heros {
  margin-top: 20px;
}
#suggested-heros .suggested-hero img {
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0 4px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 4px;
}

md-dialog {
  height: 90%;
  width: 90%;
}
md-dialog #close-icon {
  display: inline-block;
}
md-dialog #toolbar {
  padding: 0 5px 0 5px;
}
md-dialog #toolbar h3 {
  margin: 5px 0 5px 0;
}

#dialog-heros md-pagination-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
#dialog-heros md-tabs-wrapper {
  background-color: #2C80D2;
}
#dialog-heros md-ink-bar {
  height: 3px;
}

#dialog-content {
  height: 100%;
}
#dialog-content md-tabs {
  height: 100%;
}
