body {
  overflow: hidden;
  background-image: url("../image/background.jpg");
}

md-sidenav {
  height: 100%;
}

#header {
  background-image: url("../image/tollbar.jpg");
  background-size: 100% 100%;
  -moz-box-shadow: rgba(0, 0, 0, 0.9) 0 0 7px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.9) 0 0 7px;
  box-shadow: rgba(0, 0, 0, 0.9) 0 0 7px;
}
#header .logo {
  font-size: 30px;
}
@media (min-width: 960px) {
  #header {
    justify-content: center;
    z-index: 100000;
  }
}

md-content #heros .text {
  text-align: center;
  font-size: 20px;
}
@media (min-width: 960px) {
  md-content #heros {
    width: 70%;
  }
}

@media (min-width: 960px) {
  #suggested {
    width: 70%;
  }
}

.enemy-text {
  color: #ff6666;
  font-weight: bold;
}

.firendly-text {
  color: #259656;
  font-weight: bold;
}

.hero-info {
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
}
.hero-info img {
  width: 100%;
  margin: 4px;
  -moz-box-shadow: rgba(255, 102, 102, 0.9) 0 0 4px;
  -webkit-box-shadow: rgba(255, 102, 102, 0.9) 0 0 4px;
  box-shadow: rgba(255, 102, 102, 0.9) 0 0 4px;
}

.teammate-hero img {
  -moz-box-shadow: rgba(37, 150, 86, 0.9) 0 0 4px;
  -webkit-box-shadow: rgba(37, 150, 86, 0.9) 0 0 4px;
  box-shadow: rgba(37, 150, 86, 0.9) 0 0 4px;
}

.suggested #title-text {
  text-align: center;
  font-size: 35px;
}

#suggested-heros {
  margin-top: 10px;
}
#suggested-heros .suggested-hero img {
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0 4px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 4px;
}

#dialog-content md-tab-content {
  overflow: hidden;
}

#dialog-content {
  overflow: hidden;
}

#main-content {
  background-color: rgba(255, 255, 255, 0);
}
@media (min-width: 960px) {
  #main-content {
    padding-left: 304px;
  }
}

#left-side md-list {
  z-index: 100;
}
#left-side img {
  width: 100%;
  position: absolute;
  bottom: 30px;
  z-index: -999;
}
@media (min-width: 960px) {
  #left-side {
    background-color: rgba(255, 255, 255, 0.7);
  }
  #left-side md-list {
    padding-top: 80px;
  }
}

md-dialog {
  height: 90%;
  width: 90%;
  z-index: 100001;
  margin-top: 15px;
}
md-dialog #close-icon {
  display: inline-block;
}
md-dialog #toolbar {
  padding: 0 5px 0 5px;
  background-image: url("../image/tollbar.jpg");
  background-size: 100% 100%;
  -moz-box-shadow: rgba(0, 0, 0, 0.9) 0 0 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.9) 0 0 6px;
  box-shadow: rgba(0, 0, 0, 0.9) 0 0 6px;
}
md-dialog #toolbar h3 {
  margin: 5px 0px 5px 10px;
}
@media (min-width: 960px) {
  md-dialog {
    width: 45%;
  }
}

#dialog-heros {
  background: -webkit-linear-gradient(300deg, #000, #47100F);
  background: -o-linear-gradient(300deg, #000, #47100F);
  background: -moz-linear-gradient(300deg, #000, #47100F);
  background: linear-gradient(300deg, #000000, #47100f);
}
#dialog-heros md-pagination-wrapper {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
#dialog-heros md-tabs-wrapper {
  background-color: rgba(255, 255, 255, 0);
}
#dialog-heros md-ink-bar {
  height: 3px;
  background: #B3520B none repeat scroll 0% 0%;
}

#dialog-content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
#dialog-content md-tabs {
  -webkit-flex: 1;
  flex: 1;
}
