<!DOCTYPE html>
<html ng-app='dotapick'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1 user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes" /> <!-- 启用 WebApp 全屏模式 -->

    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="./public/css/index.css">
    <script src='./bower_components/iscroll/build/iscroll-lite.js'></script>
    <script src='./public/js/scroll.js'></script>
    <title>Dota Pick</title>
</head>
<body layout='column'  ng-controller='BodyController'md-swipe-left='closeList()'>
    <md-toolbar flex='5' id="header" layout='row' layout-align='start center'>
        <md-button hide-gt-md ng-click="openList()" aria-label="Show List">
            <md-icon md-svg-icon="./public/assets/svg/menu.svg"></md-icon>
        </md-button>
        <div class="logo" >DotaPick</div>
    </md-toolbar>

        <md-sidenav  md-is-locked-open="$mdMedia('gt-md')" class='md-whiteframe-z2' md-component-id='left' style='position:absolute;' id='left-side'>
            <md-list layout='column'>
                <md-input-container ng-repeat='option in options'>
                <label>{{option.name}}</label>
                <md-select ng-model = 'option.userStates' ng-change='updateSuggestHeros()'>
                <md-option ng-repeat='state in option.states' value='{{state}}'>
                {{state}}
                </md-option>
                </md-select>
                </md-input-container>
            </md-list>
            <img src="./public/image/side_bg.png" alt="">
        </md-sidenav>
        <md-content flex='92' layout-margin layout='column' layout-align='start center' ng-controller='ContentController' md-swipe-right='openList()' id='main-content'>
            <div id="heros" layout='column' ng-controller='HeroViewController'>
                <div  class='text enemy-text'>Opponent Heroes</div>
                <div  class="enemy" layout='row'>
					<div class="enemy-hero hero-info" flex='20' layout-align='center center' ng-repeat='enemy in enemys' ng-click='showHeroDialog(enemy.id)'>
						<img ng-src="{{enemy.imgSrc}}" alt="">
					</div>
                </div>
                <div  class='text firendly-text'>Teammates Heroes</div>
                <div  class="teanmate" layout='row'>
					<div class="teammate-hero hero-info" flex='20' layout-align='center center' ng-repeat='teammate in teammates' ng-click='showHeroDialog(teammate.id)'>
						<img ng-src="{{teammate.imgSrc}}" alt="">
					</div>
				</div>
            </div>
            <div class="suggested" flex layout='column' ng-controller='SuggestedViewController'>
				<div id="title-text">Suggested Pick</div>
				<div id="suggested-heros" flex layout='row' layout-wrap>
					<div class="suggested-hero hero-info" flex='25' layout-align='center center' ng-repeat='hero in herolist'>
						<img ng-src="{{hero.imgSrc}}" alt="">
					</div>
				</div>
			</div>
        </md-content>

    <!-- AngularJS  -->
    <script src="./bower_components/angularjs/angular.min.js"></script>
    <script src="./bower_components/angular-material/angular-material.min.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="./public/js/app.js"></script>
    <script src="./public/js/heronames.js"></script>
    <script src="./public/js/BodyController.js"></script>
    <script src="./public/js/ContentController.js"></script>
    <script src="./public/js/HeroViewController.js"></script>
    <script src="./public/js/SuggestedViewController.js"></script>
    <script src="./public/js/SelectHeroController.js"></script>
    
</body>
</html>
